<link href="~/Scripts/CSS/_MenuIzquierdo.css" rel="Stylesheet" type="text/css" />

<div class="sidebar-container">
    <div class="sidebar-logo">
        Inventario Natura
    </div>
    <ul class="sidebar-navigation">
        <li class="header">Navegacion</li>
        @*<li>
            <a href="#">
                <i class="fa fa-home" aria-hidden="true"></i> Homepage
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
            </a>
        </li>*@
        <li>
            <a href="#">
                <i class="fa fa-home" aria-hidden="true"></i> Categorias
            </a>
        <li>
            <a href="#">
                <i class="fa fa-home" aria-hidden="true"></i> Lineas de productos
            </a>
        <li class="header">Otro Menu</li>
        <li>
            <a href="#">
                <i class="fa fa-users" aria-hidden="true"></i> Mis Datos
            </a>
        </li>
        @* <li>
            <a href="#">
                <i class="fa fa-cog" aria-hidden="true"></i> Settings
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Information
            </a>
        </li>*@
    </ul>
</div>

<!--<div class="content-container">

    <div class="container-fluid">-->
<!-- Main component for a primary marketing message or call to action -->
<!--<div class="jumbotron">
            <h1>Navbar example</h1>

                <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>

        </div>

    </div>
</div>-->
<br />
<br />
<br />
<br />
<br />

